{% extends "MoneyClub/index_yl.html" %}
{% block title %}Education{% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}{% endblock %}
{% block nav-side-stockvote-active %}{% endblock %}
{% block nav-side-education-active %}class="active"{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}

    <!--  page-wrapper -->
    <div id="page-wrapper">

        <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Education
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> Education
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary" style="width: 300px">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i>Investment Foundations
                    </div>

                    <div class="panel-body">
                        <div class="card">
                            <img class="card-img-top" src="https://www.triodos.com/media/brand-boxes/brandbox-tim/bb-tim-invest-in-change-946x237" alt="Card image cap" style="width: 270px">
                            <div class="card-block">
                                <p class="card-text">Covering topics such as ethics and regulation, investment instruments, and serving client needs, the Investment Foundations certificate program can benefit anyone working with, or for a financial services organization.</p>
                                <a href="#" class="btn btn-primary">Register class</a>
                            </div>
                        </div>
                    </div>

            </div>
                    <!--End Timeline -->
            </div>
        </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
{% endblock %}

