<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CSS3 Animation Cloud and login form</title>



      <link rel="stylesheet" href="/static/MoneyClub/css/style.css">


</head>

<body>
  <div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>

 <div class="container">


      <div id="login">

        <form method="post" action = "{% url 'login' %}">

          <fieldset class="clearfix">

              {% if form.errors %}
                <p style="color:red">
                Incorrect username and password.
                </p>
              {% endif %}
              {{ form.username }}
              {{ form.password }}
              <br>
              <br>

              <input type = "hidden" name="next" value="{{ next }}"/>
              {% csrf_token %}

{#            <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->#}
{#            <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->#}
{#            <p><input type="submit" value="Sign In"></p>#}

          </fieldset>

        </form>

        <p><a href = "{% url 'password_reset' %}" class="blue">Forget Password?</a></p>
        <p>Not a member? <a href="#" class="blue">Sign up now</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>


</body>
</html>
