{% extends "MoneyClub/index_yl.html" %}
{% block title %}Time Line{% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}class="active"{% endblock %}
{% block nav-side-stockvote-active %}{% endblock %}
{% block nav-side-education-active %}{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}
    <!--  page-wrapper -->
    <div id="page-wrapper">

         <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Time Line
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> Time Line
                        </li>
                    </ol>
                </div>
            </div>

           <div class="row">
            <div class="col-lg-12">
                <!--Timeline -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i>Timeline
                    </div>

                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                        <p>
                                            <small class="text-muted"><i class="fa fa-time"></i>11 hours ago</small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>New bank statement is available.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Bill Gates joins the club.</p>
                                        <p>Bill Gates contributes $100.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>President decided to invest Google.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Some new links for education purpose.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Add vote for Google, Amazon, LinkedIn and Facebook</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Timeline Event</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>MoneyClub created</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--End Timeline -->
            </div>
        </div>


    </div>
    <!-- end page-wrapper -->

</div>
<!-- end wrapper -->
{% endblock %}