{% extends "MoneyClub/index_yl.html" %}
{% block title %}User Profile{% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}{% endblock %}
{% block nav-side-stockvote-active %}{% endblock %}
{% block nav-side-education-active %}{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}

    <!--  page-wrapper -->
    <div id="page-wrapper">

        <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        User Profile
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> User Profile
                        </li>
                    </ol>
                </div>
            </div>

               <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i>Profile
                        </div>

                        <div class="panel-body">

                <div class="col-lg-8">
              
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title">My Profile</h4>
                                            </div>
                                            <div class="content">
                                                <form>

                                                    <div class="row">

                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Username</label>
                                                                <input type="text" class="form-control" disabled placeholder="Username" value="billgates1">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label>Email Address</label>
                                                                <input type="text" class="form-control" disabled placeholder="Email Address" value="billg@gmail.com">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>First Name</label>
                                                                <input type="text" class="form-control" disabled placeholder="Company" value="Bill">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Last Name</label>
                                                                <input type="text" class="form-control" disabled placeholder="Last Name" value="Gates">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Genter</label>
                                                                <input type="text" class="form-control" disabled placeholder="Gender" value="Male">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Birthday</label>
                                                                <input type="text" class="form-control" disabled placeholder="Birthday" value="Nov 08, 1994">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Current Balance</label>
                                                                <input type="text" class="form-control" disabled placeholder="Current Balance" value="$888.88">
                                                            </div>
                                                        </div>
                                                         <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Current Weight</label>
                                                                <input type="text" class="form-control" disabled placeholder="Current Weight" value="10.88%">
                                                            </div>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-user">
                                            <div class="image">
                                                <img src="https://images.celebfamily.com/wp-content/uploads/2014/09/b-g.jpg" alt="..."/>
                                            </div>
                                            <div class="content">
                                                <div class="author">
                                                     <a href="#">
                                        
                                                      <h4 class="title">Bill Gates<br />
                                                         <small>billgates1</small>
                                                      </h4>
                                                    </a>
                                                </div>

                                            </div>
                                            <hr>
                                            <div class="text-center">
                                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                <!-- /.8 -->

            </div> 
                        </div>

                    </div>
                    <!--End Timeline -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
{% endblock %}