{% extends "MoneyClub/index_yl.html" %}
{% block title %}Stock Votes{% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}{% endblock %}
{% block nav-side-stockvote-active %}class="active"{% endblock %}
{% block nav-side-education-active %}{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}
    <!--  page-wrapper -->
    <div id="page-wrapper">

       <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Stock Votes
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> Stock Votes
                        </li>
                    </ol>
                </div>
            </div>

           <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i>Votes
                    </div>
                    <div class="panel-body">


            <div class="col-lg-8 col-lg-offset-2">

                <form id="contact-form" method="post" action="contact.php" role="form">

                    <div class="messages"></div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <div class="alert  text-center">
                                            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>#1 VOTE </b><br>Invest Google<br>
                                            <button>Purchase</button>   <button>Not Purchase</button> <button>Decide Later</button>
                                        </div>

                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Google.     NASDAQ: GOOGL</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-dollar fa-fw"></i>841.46 USD
                                            </small>
                                        </div>
                                        <p>
                                            Google is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing, software, and hardware. See more at: http://www.nasdaq.com/symbol/goog
                                        </p>

                                    </div>
                                </li>

                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <div class="alert  text-center">
                                            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>#2 VOTE </b><br>Invest Amazon<br>
                                            <button>Purchase</button>   <button>Not Purchase</button> <button>Decide Later</button>
                                        </div>

                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Amazon.     NASDAQ: AMZN</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-dollar fa-fw"></i>896.23 USD
                                            </small>
                                        </div>
                                        <p>
                                           Amazon.com, also called Amazon, is an American electronic commerce and cloud computing company that was founded on July 5, 1994, by Jeff Bezos and is based in Seattle, Washington. See more at: http://www.nasdaq.com/symbol/amzn
                                        </p>

                                    </div>
                                </li>

                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <div class="alert  text-center">
                                            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>#3 VOTE </b><br>Invest LinkedIn<br>
                                            <button>Purchase</button>   <button>Not Purchase</button> <button>Decide Later</button>
                                        </div>

                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">LinkedIn.     NASDAQ: LNKD</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-dollar fa-fw"></i>195.96 USD
                                            </small>
                                        </div>
                                        <p>
                                            LinkedIn is a business and employment-oriented social networking service that operates via websites and mobile apps. It is mainly used for professional networking, including employers posting jobs and job seekers posting their CVs. See more at: http://www.nasdaq.com/markets/ipos/company/linkedin-corp-606852-66240
                                        </p>

                                    </div>
                                </li>

                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <div class="alert  text-center">
                                            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>#4 VOTE </b><br>Invest Facebook<br>
                                            <button>Purchase</button>   <button>Not Purchase</button> <button>Decide Later</button>
                                        </div>

                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Facebook.     NASDAQ: FB</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-dollar fa-fw"></i>139.58 USD
                                            </small>
                                        </div>
                                        <p>
                                            Facebook is an American for-profit corporation and an online social media and social networking service based in Menlo Park, California. See more at: http://www.nasdaq.com/symbol/fb
                                        </p>

                                    </div>
                                </li>

                             </ul>
                         </div>
                </form>

            <!-- /.8 -->

            </div>
                    </div>

                </div>
            </div>
           </div>
       </div>
    </div>
    <!-- end page-wrapper -->
{% endblock %}
