{% extends "MoneyClub/index_yl.html" %}
{% load i18n %}

{% block title %} Dashboard {% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}{% endblock %}
{% block nav-side-stockvote-active %}{% endblock %}
{% block nav-side-education-active %}{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                       Compose Messages
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> Compose Messages
                        </li>
                    </ol>
                </div>
            </div> <!-- row -->
        <div class="row">
            
            {% block leftside %}
             <div class="col-md-9">
					<form action="" method="post">
					{% csrf_token %}
					<table id='newMtable'>
					   {% for field in form.visible_fields %}
                        <tr>
                            <td valign="top">
                                <b>{{field.label}}:</b>
                            </td>
                            <td valign="top">
                            {{field}}
                             </td>
                            {% if field.errors %}
                            <td valign="top">
                            <label style="color:red">{{field.errors}}</label>
                             </td>
                            {% endif %}
                            <br>
                        </tr>
                        {% endfor %}
                        <td></td>
                        <td>
                        <button class="bt btn-primary" type="submit">{% trans "Send" %} &raquo;</button>
                        </td>
					</table>
					</form>
            </div><!-- end of left side -->
            {% endblock %}

            {% block rightside %}
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'messages_inbox' %} " class="list-group-item">Inbox</a>
                    <a href="{% url 'messages_outbox' %} " class="list-group-item">Sent Messages</a>
                    <a href="{% url 'messages_compose' %} " class="list-group-item">New Message</a>
                    <a href="{% url 'messages_trash' %} " class="list-group-item">Trash</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
