{% extends "skilltree/stream.html" %}
{% load i18n %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            
            {% block leftside %}
             <div class="col-md-9">
                <h1>{% trans "Sent Messages" %}</h1>
                    {% if message_list %}
                    <table id = "newMtable">
                        <thead>
                            <tr><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Action" %}</th></tr>
                        </thead>
                        <tbody>
                    {% for message in message_list %}
                        <tr>
                            <td>{{ message.recipient }}</td>
                            <td>
                            <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                            </td>
                            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                            <td><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>{% trans "No messages." %}</p>
                    {% endif %}
            </div><!-- end of left side -->
            {% endblock %}

            {% block rightside %}
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'messages_inbox' %} " class="list-group-item">Inbox</a>
                    <a href="{% url 'messages_outbox' %} " class="list-group-item">Sent Messages</a>
                    <a href="{% url 'messages_compose' %} " class="list-group-item">New Message</a>
                    <a href="{% url 'messages_trash' %} " class="list-group-item">Trash</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}