{% extends "MoneyClub/index_yl.html" %}
{% load i18n %}

{% block title %} View Message {% endblock %}
{% block nav-side-dashboard-active %}{% endblock %}
{% block nav-side-timeline-active %}{% endblock %}
{% block nav-side-stockvote-active %}{% endblock %}
{% block nav-side-education-active %}{% endblock %}
{% block nav-side-charts-active %}{% endblock %}
{% block nav-side-history-active %}{% endblock %}
{% block nav-side-president-active %}{% endblock %}
{% block nav-side-secretary-active %}{% endblock %}
{% block nav-side-treasurer-active %}{% endblock %}
{% block nav-side-googlehangouts-active %}{% endblock %}
{% block nav-side-skype-active %}{% endblock %}
{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        View Messages
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-bar-chart-o"></i> View Messages
                        </li>
                    </ol>
                </div>
            </div> <!-- row -->
        <div class="row">
            
            {% block leftside %}
             <div class="col-md-9">
				<dl class="message-headers">
				    <dt>{% trans "Subject" %}: <strong>{{ message.subject }}</strong></dt><br \>
				    <dt>{% trans "Sender" %}: {{ message.sender }}</dt><br \>
				    <dt>{% trans "Date" %}: {{ message.sent_at|date:_("DATETIME_FORMAT")}}</dt><br \>
				    <dt>{% trans "Recipient" %}: {{ message.recipient }}</dt><br \>
				</dl>
				<hr>
				<h4><p>Message Body:</p><br>
				{{ message.body|linebreaksbr }}</h4><br /><br />
				<h4>
				{% ifequal message.recipient.pk user.pk %}
				<a href="{% url 'messages_reply' message.id %}" id="replyMbtn">{% trans "Reply" %}</a>
				{% endifequal %}
				<a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
				</h4>
				{% comment %}Example reply_form integration
				{% if reply_form %}
				<h1>{% trans "Compose reply"%}</h1>
				<form action="{% url 'messages_reply' message.id %}" method="post">
				{% csrf_token %}
				<table>
				{{ reply_form.as_table }}
				</table>
				<input type="submit" value="{% trans "Send" %} &raquo;"/>
				</form>
				{% endif %}
				{% endcomment %}
            </div><!-- end of left side -->
            {% endblock %}

            {% block rightside %}
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'messages_inbox' %} " class="list-group-item">Inbox</a>
                    <a href="{% url 'messages_outbox' %} " class="list-group-item">Sent Messages</a>
                    <a href="{% url 'messages_compose' %} " class="list-group-item">New Message</a>
                    <a href="{% url 'messages_trash' %} " class="list-group-item">Trash</a>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}